@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000000;
  --primary-color: #1089ff;
  --secondary-color: #01d28e;
  --primary-font : 'Poppins', sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: var(--primary-font);
  /* background: rgb(223, 223, 223); */
  /* z-index: -999 !important; */
}