#booktrip{
  position: relative;
  // background-color: red;
  // top: 70vh;
  width: 100%;
  bottom: 20vh;


  .request-form{
    background: var(--primary);
    padding: 30px;
    z-index: 1;
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
    box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);

    h2{
      color: white;
      font-size: 1.375em;
      font-weight: 600;
    }

    p{
      color: rgba(255,255,255,.8);
    }

    .form-group{
      position: relative;
      width: 100%;
      display: block;
      margin: 15px 0;
    }

    label.label{
      color: white;
      font-size: 0.85em;
      text-transform: uppercase;
      font-weight: 600;
      margin: 10px 0;
    }

    .btn{
      width: 100%;
      display: block !important;
    }

    input[type='submit']{
      background-color: var(--secondary-color) !important;
      color: white;
    }

    .form-control {
      border: transparent !important;
      border: 1px solid rgba(255,255,255,.1) !important;
      height: 50px!important;
      background: transparent!important;
      color: rgba(255,255,255,.7)!important;
      font-size: 0.85em;
      border-radius: 0px;
      box-shadow: none!important;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,.7);
      }
      &:focus, &:active {
        border-color: white;
      }
    }
  }

  .booktrip-right{
    background-color: white;
    border-radius: 5px;
  }
  .services-wrap{
    padding: 4em 3em;
    background: white;
    -webkit-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.03);
    box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.03);

    .heading-section{
      font-size: 24px;
      font-weight: 600;
    }
  }

  .services{
    .icon{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,.05);
      margin: 0 auto;
      margin-bottom: 20px;
      
      i{
        font-size: 40px;
        color: var(--primary-color);
      }
    }
    
    h3{
      font-size: 17px;
      font-weight: 500;
    }
    &.services-2{
      .icon{
        width: 110px;
        height: 110px;
        background: var(--primary-color);
        border: none;
        span{
          color: white;
        }
      }
    }
  }
}